<p>Reading the following chapters and accomplishing the exercises from <em>Stormy Attaway</em>, <em>Matlab, A Practical Introduction to Programming and Problem Solving, 3rd Edition, 2013 Elsevier Inc.</em>&nbsp; is recommended as complementary material:</p>
<h3>Reading from chapter 2</h3>
<p>Section 2.1 until the end of 2.1.4 ; Section 2.2<br />Summaries on pages 27 and 66</p>
<h3>Exercises from chapter 2</h3>
<p>4, 6, 10, 12, 17</p>
