<h3><strong>Structure</strong></h3>
<p>The course is structured in five chapters of variable length and difficulty.</p>
<ul>
<li>Chapter 1 is an introduction to Octave and MATLAB containing explanations for the installation processes of both programs, along with a description of the graphical interface (GUI).</li>
<li>The second chapter covers variables, vectors and matrices.</li>
<li>In chapter 3, usage of scripts to structure code is covered, alongside 2D and 3D plots.</li>
<li>Chapter 4 discusses functions (how to use and write them) and the first elements of programming are introduced: conditional execution and loops.</li>
<li>Finally, in chapter 5 you will have to write your own program following the provided guidelines. This will be your final exam.</li>
</ul>
<p>The course is open continuously, hence all chapters are available simultaneously. The workload for successfully accomplishing the course is relatively small, it is expected that chapters 2 through 5 require eight hours of work each.</p>
<p>At the end of each chapter, a test similar to the exercises must be passed in order to receive the certificate.</p>
