<p>The exam's goal is to implement the program by yourself. It is necessary to progress in steps. First you should define the main program, only then you can implement the required functions.</p>

<p>After having defined the main program, you can watch video 5.2 which explains this step. This way, you can correct any mistakes and move ahead in the correct direction.</p>

<p>Videos 5.3 and 5.4 explain the functions used in the program. It is highly recommended that you implement the functions before watching the videos, this way you can correct any mistakes before testing your program.</p>

<p>The final grading is a self-evaluation, based on answering questions related to the implementation of your program.<p>
