<p><img src="/static/Profile150.jpg" /><img src="/static/HowWasIt.jpg" /></p>
<p></p>
<h3></h3>
<p></p>
<p>Did this week / chapter meet your expectations? Do you have any comments or suggestions for improvement?&nbsp; Please give us your quick (anonymous) feedback below:</p>
<p></p>
<p></p>
<p></p>
<p><iframe title="survey" src="https://www.surveymonkey.com/r/JZKTXQD?mooc_id=MATLABEN-1-2" width="700" height="600" marginwidth="0" marginheight="0" frameborder="0" scrolling="no">
</iframe></p>
<p></p>