<p>In some exercises you will need to complete scripts or functions. There shall be a "tag", like [TO COMPLETE #1], where some code is missing and must be filled in.</p>
<p>When this missing code is completed successfully, it should run without errors and return the correct answer. We suggest that you first complete the code in a script, then copy-paste the required code snippet.</p>
