<h3><strong>Certificate</strong></h3>
<p>This course provides the possibility to acquire a certificate. This certificate is given to students who successfully completed the course and have verified their identity.</p>
<p>The certificate contains your name, the course's name, the instructor's name and signature. The final grade is not included.</p>
<p>To pursue this path, click on <strong>Upgrade to Verified </strong> on your dashboard.</p>
<p>For further information on certificates, follow <strong><a href="http://edx-guide-for-students.readthedocs.org/en/latest/SFD_certificates.html" target="blank">ici</a></strong>.</p>
<p></p>
