<h3><strong>Forum</strong></h3>
<p>You can discuss or ask questions on the forum (under <em>Discussion</em> at the top of the page). Please feel free to answer any questions which are asked, student to student discussions provide valuable information. Of course, we ask you not to post direct answers to questions, but rather hints towards finding the answer. As this course is continuously open, a continuous and detailed follow-up from the instructor is not possible. Therefore please be patient when waiting for an answer. Under FAQ, you can find the answers to the questions asked during the previous edition of this course.</p>
