<p>I prepared this course with the help of the following people whom I gratefully thank.</p>
<h3>Course structure and exercises</h3>
<p>Nicholas Molyneaux, for his precious help when creating the exercises and managing the course. Davide Forti and Matteo Lesinigo also helped preparing the course.<em> <br /></em></p>
<h3>MOOC production</h3>
<p>I want to thank the whole team from <a href="http://moocs.epfl.ch/" target="_blank"> Center for Digital Education, MOOCS FACTORY </a>. Patrick Jermann and Christian Vonarburg provided valuable help for the course design. Gw&eacute;na&euml;l Bocquet provided technical assistance during the recordings and Nicolas Peslerbe took care of the video assembly.</p>
<h3>Support</h3>
<p>This course is financed by <a href="http://moocs.epfl.ch/moocafrica" target="_blank">MOOCs Africa</a> and EPFL, in particular <a href="http://sma.epfl.ch" target="_blank">Mathematics section</a> and <a href="http://moocs.epfl.ch/" target="_blank">Center for Digital Education, MOOCS FACTORY</a>.</p>
<p>Simone Deparis</p>
