<h3><strong>Reference book</strong></h3>
<p>This course is based on some chapters from:</p>
<p><em>Stormy Attaway</em>, Matlab, A Practical Introduction to Programming and Problem Solving, 3rd Edition, 2013 Elsevier Inc.&nbsp;<a href="http://store.elsevier.com/Matlab/Stormy-Attaway/isbn-9780124058767" target="_blank">http://store.elsevier.com/Matlab/Stormy-Attaway/isbn-9780124058767</a></p>
<p>This book is visible online for institutions having bought the electronic access rights (like EPFL): <a href="http://www.sciencedirect.com/science/book/9780124058767" target="_blank">http://www.sciencedirect.com/science/book/9780124058767</a></p>
<p>Elsevier offers discounted prices on some chapters of the book for students following this course. INFO ???</p>
<h3><strong>Internet links</strong></h3>
<ul>
<li><em>Introduction &agrave; MATLAB et GNU Octave</em>, by Jean-Daniel Bonjour (french), <a href="http://enacit1.epfl.ch/cours_matlab/" target="_blank">http://enacit1.epfl.ch/cours_matlab/</a></li>
<li>GNU Octave, <a href="http://www.gnu.org/software/octave" target="_blank">http://www.gnu.org/software/octave</a></li>
<li>MATLAB&reg; and Mathworks&reg;, <a href="http://www.mathworks.com/" target="_blank">http://www.mathworks.com/</a></li>
</ul>
<p></p>
<p></p>
