<div class="post-body">
<p>Some questions (math recall):</p>
<ol>
<li>In this exercise, we must sum up the gradient and transposed gradient ?</li>
<li>Is there some information online concerning this formula ?</li>
</ol>
<p><strong>Answer:</strong></p>
<p>1. Yes, this is what is asked.</p>
<p>2. I could recommend the following pages from wikipedia, they provide a quick glimpse into the field.</p>
<p><a href="https://en.wikipedia.org/wiki/Strain_rate">https://en.wikipedia.org/wiki/Strain_rate</a></p>
<p><a href="https://en.wikipedia.org/wiki/Strain_rate_tensor">https://en.wikipedia.org/wiki/Strain_rate_tensor</a></p>
<p>From the second page: "In continuum mechanics, the strain rate tensor is a physical quantity that describes the rate of change of the deformation of a material in the neighborhood of a certain point, at a certain moment of time. It can be defined as the derivative of the strain tensor with respect to time, or as the symmetric component of the gradient (derivative with respect to position) of the flow velocity."</p>
</div>
