<div class="response-body">
<p>Why isn't [D] accepted as an answer to sub-question [TO COMPLETE #1] ?</p>
</div>
<div class="response-body">
<p><strong>Answer</strong> :</p>
<p>For readability reasons, it is recommended to use square brackets [] only when multiple variables are returned. Hence, simply removing the square brackets should solve the problem. Square brackets [] are optional when only one variable is returned.</p>
</div>
