<p>Hello, for test 4.2, I have found multiple combinations which work in Octave, but when providing the answers in the boxes the test qualifies them as wrong. Is this normal ?</p>
<p><strong>Answer</strong> by RealIngo, student from the first edition of this course:</p>
<div class="response-body">
<p>Firstly, one must not use spaces between numbers and commas. This leads to a solution with 26 characters.</p>
<p>I doubt there are more than one solution, the best is to perform two small tests. One with a even number and one with an odd one:</p>
<p>1) Seek a number between 1 and 7 (check that the program can find all numbers between 1 and 7)</p>
<p>2) Seek a number between 1 and 8 (check that the program can find all numbers between 1 and 8)</p>
Answer by MichelThayse, student from the first edition of this course:
<div class="response-body">
<p>I have just finished exercise 4.2. the answer is logical but challenging to find.</p>
<p>A group of instructions - the initialization of old_guess - could be located in a different part of the script without affecting the final answer. Nevertheless, it should be placed such that the program is easily readable for a person (a script should not only perform the desired calculations but also be easily understandable for a person).</p>
<p>For the other groups of instructions, a different order induces slightly different results. Hence one must think carefully to discover the correct order of the groups of codes.</p>
<p>I hope this helps, without providing the exact solution.</p>
</div>
<p></p>
</div>
