<h3><strong>Remarks about the exercises</strong></h3>
<p>We designed exercises for you to solve on your computer using either Octave or MATLAB. To help you during these exercises and the tests, we use various input methods:</p>
<ol>
<li>Supply a small code snippet. In this case simple character comparison is performed, hence we ask you to NOT USE SPACES or any other non-required characters. There is often more than one method to solve a given problem, hence it could happen that your solution is correct but not accepted by the online corrector.</li>
<li>Numerical input, nothing special about this possibility.</li>
<li>Multiple choice questions. We suggest that you find the solution on your computer before looking at the possible answers, this way you'll make the most of the exercises. Then, tick the correct answers from the available choices, of course you can copy them into Octave or MATLAB to check them.</li>
</ol>
<p>A discussion forum is at your disposal for, amongst other things, discussing the exercises. When you post a question about an exercise, please specify as much information as possible; for example question number, the issue your are facing and any related code. This way, it will be easier for people to accurately answer your question.</p>
<p>Each chapter contains videos with matching exercises. For example, chapter 2.1 contains a video presenting the course contents and then three groups of exercises (Miscellaneous, Variables and Strings). These are accessible through the navigation bar.</p>
