<p>Reading and solving the exercises from the following sections in <em>Stormy Attaway</em>, <em>Matlab, A Practical Introduction to Programming and Problem Solving, 3rd Edition, 2013 Elsevier Inc.</em>&nbsp; is recommended as complementary material:</p>
<p>Reading : chapter 1.</p>
<p>Exercises :&nbsp; 1, 6, 9, 13, 15, 16, 22, 23, 28, 29, 30</p>
