<p>The program must draw a figure with one or more ellipses where the user can choose the following:</p>
<ul>
<li>Show on the interface information about the program's features.</li>
<li>Ask the user the limits of the plot and use them.</li>
<li>Ask for the center and main axes, then draw the corresponding ellipse. The previously drawn ellipses must not be removed.</li>
<li>The file &nbsp;<a href="/static/cheeseEllipse.txt" target="_blank">cheeseEllipse.txt</a> contains multiple ellipses defined by their centers and axes. Load it and draw the ellipses.</li>
<li>Ask for the plot precision, by default 200 points, and apply to the following plots.</li>
<li>Clean the Figure</li>
<li>Quit the program</li>
</ul>
<p>Until the "Quit program" as not been selected, the program must keep on prompting the user.</p>
<p>Instructions:</p>
<ul>
<li>The program must be structured with a main part and functions performing the specific tasks defined previously.</li>
<li>The main program is defined as a script.</li>
<li>Functions are found in separate <code>.m</code> files.</li>
<li>The functions and the main program are commented and documented.</li>
</ul>
<p></p>
<p></p>
