<h3><strong>Octave or MATLAB&reg;</strong></h3>
<p>As explained in chapter 1, this course covers the basics of Octave and MATLAB&reg;,no program specificities are covered. Mathworks have developed an online automatic correction code for edX, but they have refused to give us access as the course's name contains Octave.</p>
<p>One significant difference between both software packages is licensing. MATLAB&reg; is a commerical product with a professional service and regular updates, while Octave is free and developed by highly motivated people and made available under the GPL license. Octave contains many features found in MATLAB&reg; and is, according to myself, as good as MATLAB&reg;.</p>
<p>I am not an Octave developer, if you wish to make a donation, please visit &nbsp;<a href="http://www.gnu.org/software/octave/get-involved.html" target="_blank">http://www.gnu.org/software/octave/get-involved.html</a></p>
<p>Simone Deparis</p>
