<p>If you need to read or write more complex text files, you can use more advanced functions which have not been covered in this course. If you are interested, you can read:</p>
<ul>
<li>the part <a href="http://enacit1.epfl.ch/cours_matlab/mfiles.shtml#entrees_sorties" target="[object Object]">7.9.4 Lecture/&eacute;criture format&eacute;e de fichiers</a>, specifically "Fonctions classiques de manipulation de fichiers", or</li>
<li>sections 3.3.2 and 9.1 from <em>Stormy Attaway</em>, Matlab, A Practical Introduction to Programming and Problem Solving.</li>
</ul>
