<h3><strong>Welcome</strong></h3>
<p>This course is an introduction to Octave and MATLAB&reg;. Both softwares have the same structure, hence it is obvious to present both together. This course is targeted at beginners, it began as an introductory course to MATLAB&reg; at EPFL for second year students of numerical analysis.</p>
<p>At the end of this course you'll be able to:</p>
<div style="margin: 0px;">
<ul>
<li>Work with vectors and matrices</li>
<li>Process data files</li>
<li>Create plots and save them as pdf or jpg</li>
<li>Use scripts and functions</li>
<li>Write small interactive programs</li>
</ul>
</div>
<div style="margin: 0px;">Before we start, you are invited to fill in this small <span style="text-decoration: underline;"><strong><a href="https://www.surveymonkey.com/r/TKF2V8H?user_id=%%USER_ID%%&amp;mooc_id=MATLABEN-1" target="_blank">poll</a></strong></span>. Your answers help us target your needs and motivations.</div>
<div style="margin: 0px;"></div>
<div style="margin: 0px;">Good luck</div>
<div style="margin: 0px;"></div>
<div style="margin: 0px;">Nicholas Molyneaux and Simone Deparis</div>
<div style="margin: 0px;"></div>