<p>Dear students,</p>
<div>
<p>I hope you have appreciated this course and you are now ready to work with MATLAB&reg; and Octave. As explained at the beginning, this was an introductory course and many features have not been used. Nevertheless, you should be able to use these programs on your own.</p>
<p>Your opinion is important for us, hence please fill in this <strong><a href="https://www.surveymonkey.com/r/TK5G77N?user_id=%%USER_ID%%&amp;mooc_id=MATLABEN-1" target="_blank">final survey</a></strong>.&nbsp;</p>
<p><strong><a href="https://www.class-central.com/course/edx-matlab-and-octave-for-beginners-7376" target="[object Object]">Class Central</a></strong>&nbsp;is also collecting reviews of classes, since there are very few, your opinion will be very influential!</p>
<p>Thanks for participating in this course.</p>
<p>Best regards</p>
<p>Simone Deparis</p>
<p style="text-rendering: optimizelegibility; margin: 20px 0px 1.416em; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; color: #3c3c3c; line-height: 1.6em !important;"></p>
<p style="text-rendering: optimizelegibility; margin: 20px 0px 1.416em; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; color: #3c3c3c; line-height: 1.6em !important;"></p>
<p style="text-rendering: optimizelegibility; margin: 20px 0px 1.416em; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; color: #3c3c3c; line-height: 1.6em !important;"></p>
</div>