<p>The following part of the book <em>Stormy Attaway</em>, <em>Matlab, A Practical Introduction to Programming and Problem Solving, 3rd Edition, 2013 Elsevier Inc.</em>&nbsp; is recommended as complementary material:</p>
<ul>
<li>Section 6.3</li>
</ul>
