<p><strong>New version of Octave for MacOsX</strong></p>
<p>In July 2016, the developers published an installation bundle for MacOsX</p>
<p><a href="http://wiki.octave.org/Octave_for_MacOS_X#Installing_a_Mac_OS_X_Bundle" target="[object Object]">http://wiki.octave.org/Octave_for_MacOS_X#Installing_a_Mac_OS_X_Bundle</a></p>
<p>We strongly recommend using this installation method rather than the older 3.8.6 version.</p>
