<p>Reading and doing the following chapters and exercises from <em>Stormy Attaway</em>, <em>Matlab, A Practical Introduction to Programming and Problem Solving, 3rd Edition, 2013 Elsevier Inc.</em>&nbsp; is suggested as complementary material:</p>
<ul>
<li>Sections 3.2, 3.3, 3.4</li>
<li>Summary on page 107</li>
<li>Exercises from chapter 3 : 1, 2, 5, 6, 16, 24</li>
<li>Sections 3.5.1 and 3.5. 2 and exercises 15, 16, 42</li>
<li>Chapter 11 on <em>Advanced Plotting Techniques</em></li>
</ul>
<p></p>
