<p>When you have finished you program, you are ready to evaluate it.</p>
<p>Firstly, you must adapt you functions to work with the script below. If you have implemented them correctly this will be done quickly, otherwise it might take a little work. Then, you can evaluate each function under the tab "self-evaluation".</p>

<p>Below is the script for the main part of the program which you should use for calling your functions:</p>

<pre><code>
%% Program definition:

% main:
% choice:
% 1- explain the program
% 2- define the bounds of the plot
% 3- draw the ellipse defined by the user
% 4- load a file containing the ellipses and plot them
% 5- ask for the plot's precision, by default 200 points
% 6- clean the figure
% 7- exit

clear all;
close all;

Npoints = 200;
figure(1)
hold on

choice = 1;
while choice ~= 7

  switch choice
    case 1
      explainProgram;
    case 2
      myAxes = askAxes;
      modifyAxes (myAxes);
    case 3
      ellipse = askEllipse;
      plotEllipse(ellipse, Npoints);
    case 4
      loadFileAndPlot(Npoints);
    case 5
      Npoints = askPrecision;
    case 6
      clf
  end     

  choice = menu('Make your choice', 'explain', ...
    'change axes', 'draw an ellipse', ...
    'draw the ellipses from a file', ...
    'change the precision','clean the figure', ...
    'exit the program');  

end   
</code></pre>
