<h3><strong>Evaluation method</strong></h3>
<p>You will discover that the course is not very difficult. If you keep using Octave or MATLAB&reg; afterwards you'll realize it is even easy. The goal is to help beginners with the first steps, which are sometimes the hardest ones. To take this aspect into account, the grading of the course is focused on the learning steps: the tests are generally a reformulation of the exercises of the corresponding chapter.</p>
<p>The final exam, in chapter 5, requires the implementation of a small program which takes into account different aspects covered in the course: scripts, functions, loops and plotting. You will learn a great deal when implementing this program. There will be some videos to guide you through some steps. The correction of the final exam is self-evaluation.</p>
<p>At the end of the course, don't expect to master the full potential of either MATLAB&reg; or Octave, but rather be able to start working efficiently with them. For example by using functions and scripts.</p>
