<h3><strong>Where to find help</strong></h3>
<p><strong>Help on the course's content</strong></p>
<p>If you have questions about the courses content, wish to report some mistakes or anything else related to the course, please do so by using the forum (under discussion).</p>
<p><strong>Help on the edX platform</strong></p>
<p>If you have technical problems, or questions on edX and its features, please visit the <strong><a href="https://support.edx.org/hc/en-us" target="blank">FAQs</a></strong> and the<strong><a href="http://edx-guide-for-students.readthedocs.org/en/latest/index.html" target="blank">detailed help</a></strong> of edX.</p>
<p>You also have the possibility to write directly to edX, via the following email address: <strong>technical@edx.org</strong></p>
<p></p>
