<p>Reading and doing the following sections from <em>Stormy Attaway</em>, <em>Matlab, A Practical Introduction to Programming and Problem Solving, 3rd Edition, 2013 Elsevier Inc.</em>&nbsp; is recommended as complementary material:</p>
<h4>Functions</h4>
<ul>
<li>Sections 3.7, (6.1), 10.1, 10.2</li>
<li>Exercises from chapter 3 : 24, 25, 29, 37</li>
<li>Exercises from chapter 10 : 1, 2, 6, 7</li>
</ul>
<h4>Conditional execution</h4>
<ul>
<li>Summary on page 136</li>
<li>Exercises from chapter 4 : 1, 6, 10, 16, 27, 30, 31</li>
</ul>
<h4>Loops</h4>
<ul>
<li>Summary on page 183</li>
<li>Exercises from chapter 5 : 1, 6, 7, 8, 9, 13, 40</li>
<li>Exercises from chapter 10 : 1, 2, 6, 7</li>
</ul>
