<h3>Internet links</h3>
<ul>
<li><em>Introduction &agrave; MATLAB and GNU Octave</em>, by Jean-Daniel BONJOUR, <a href="http://enacit1.epfl.ch/cours_matlab/" target="_blank">http://enacit1.epfl.ch/cours_matlab/</a></li>
<li>GNU Octave, <a href="http://www.gnu.org/software/octave" target="_blank">http://www.gnu.org/software/octave</a></li>
<li>MATLAB&reg; and Mathworks&reg;, <a href="http://www.mathworks.com/" target="_blank">http://www.mathworks.com/</a></li>
</ul>
<h3>Reference book</h3>
<p>The course is based on some chapters of the book:&nbsp;</p>
<p><em>Stormy Attaway</em>, Matlab, A Practical Introduction to Programming and Problem Solving, 3rd Edition, 2013 Elsevier Inc.&nbsp;<a href="http://store.elsevier.com/Matlab/Stormy-Attaway/isbn-9780124058767" target="_blank">http://store.elsevier.com/Matlab/Stormy-Attaway/isbn-9780124058767</a></p>
<p>Accessible online for the institutions that have bought the electronic version (like EPFL) : <a href="http://www.sciencedirect.com/science/book/9780124058767" target="_blank">http://www.sciencedirect.com/science/book/9780124058767</a></p>
<p class="MsoNormal"><strong><em>The following prices and reduction are not valid any more. I am working with Elsevier to get it back. The links should work and you should be able to purchase the single chapters.</em></strong><br />Elsevier offers some chapters for a reduced price for students of this course : 4$ par chapter, and a 50% discount for students from some countries. SIPX takes care of the administrative aspects, in particular the payment and access to the chapters recommended as complementary reading. Links :</p>
<div style="font-size: 14px; font-family: Calibri;">
<div>
<div id="CourseReadings"><center>
<table width="100%"></table>
</center><br id="CourseReadings" />
<table>
<tbody>
<tr>
<td align="left">Chapters recommended as complementary material :</td>
<td align="right"></td>
</tr>
</tbody>
</table>
<table cellspacing="4" cellpadding="3">
<tbody>
<tr>
<td width="30" valign="top" align="right">1.</td>
<td align="left"><a href="http://service.sipx.com/service/php/instructor_inspect_document.php?id=perma-x-bfbe3577-c851-11e5-9618-22000b61898b" style="text-decoration: none; color: #666699; font-weight: bold;">Chapter 1: Introduction to MATLAB</a><span class="bibliographic-separator">, </span>Matlab: A Practical Introduction to Programming and Problem Solving<br /> Attaway, Stormy<span class="bibliographic-separator">, </span>Pub. ELSEVIER<span class="bibliographic-separator">, </span>1-32<span class="bibliographic-separator">, </span>2013<span class="bibliographic-separator">, </span><span size="-1">ISBN:&nbsp;</span>9780124058767<br /> <a href="http://www.sciencedirect.com/science/article/pii/B9780124058767000018" target="[object Object]">http://www.sciencedirect.com/science/article/pii/B9780124058767000018</a></td>
</tr>
<tr>
<td width="30" valign="top" align="right">2.</td>
<td align="left"><a href="http://service.sipx.com/service/php/instructor_inspect_document.php?id=perma-x-2a48b4d6-c853-11e5-9618-22000b61898b" style="text-decoration: none; color: #666699; font-weight: bold;">Chapter 2: Vectors and Matrices</a><span class="bibliographic-separator">, </span>Matlab: A Practical Introduction to Programming and Problem Solving<br /> Attaway, Stormy<span class="bibliographic-separator">, </span>Pub. ELSEVIER<span class="bibliographic-separator">, </span>33-72<span class="bibliographic-separator">, </span>2013<span class="bibliographic-separator">, </span><span size="-1">ISBN:&nbsp;</span>9780124058767<br /> <a href="http://www.sciencedirect.com/science/article/pii/B978012405876700002X" target="[object Object]">http://www.sciencedirect.com/science/article/pii/B978012405876700002X</a></td>
</tr>
<tr>
<td width="30" valign="top" align="right">3.</td>
<td align="left"><a href="http://service.sipx.com/service/php/instructor_inspect_document.php?id=perma-x-f22c0a7f-c852-11e5-9618-22000b61898b" style="text-decoration: none; color: #666699; font-weight: bold;">Chapter 3: Introduction to MATLAB Programming</a><span class="bibliographic-separator">, </span>Matlab: A Practical Introduction to Programming and Problem Solving<br /> Attaway, Stormy<span class="bibliographic-separator">, </span>Pub. ELSEVIER<span class="bibliographic-separator">, </span>73-115<span class="bibliographic-separator">, </span>2013<span class="bibliographic-separator">, </span><span size="-1">ISBN:&nbsp;</span>9780124058767<br /> <a href="http://www.sciencedirect.com/science/article/pii/B9780124058767000031" target="[object Object]">http://www.sciencedirect.com/science/article/pii/B9780124058767000031</a></td>
</tr>
<tr>
<td width="30" valign="top" align="right">4.</td>
<td align="left"><a href="http://service.sipx.com/service/php/instructor_inspect_document.php?id=perma-x-abcd3981-c852-11e5-9618-22000b61898b" style="text-decoration: none; color: #666699; font-weight: bold;">Chapter 4: Selection Statements</a><span class="bibliographic-separator">, </span>Matlab: A Practical Introduction to Programming and Problem Solving<br /> Attaway, Stormy<span class="bibliographic-separator">, </span>Pub. ELSEVIER<span class="bibliographic-separator">, </span>117-145<span class="bibliographic-separator">, </span>2013<span class="bibliographic-separator">, </span><span size="-1">ISBN:&nbsp;</span>9780124058767<br /> <a href="http://www.sciencedirect.com/science/article/pii/B9780124058767000043" target="[object Object]">http://www.sciencedirect.com/science/article/pii/B9780124058767000043</a></td>
</tr>
<tr>
<td width="30" valign="top" align="right">5.</td>
<td align="left"><a href="http://service.sipx.com/service/php/instructor_inspect_document.php?id=perma-x-3df980df-c852-11e5-9618-22000b61898b" style="text-decoration: none; color: #666699; font-weight: bold;">Chapter 5: Loop Statements and Vectorizing Code</a><span class="bibliographic-separator">, </span>Matlab: A Practical Introduction to Programming and Problem Solving<br /> Attaway, Stormy<span class="bibliographic-separator">, </span>Pub. ELSEVIER<span class="bibliographic-separator">, </span>147-194<span class="bibliographic-separator">, </span>2013<span class="bibliographic-separator">, </span><span size="-1">ISBN:&nbsp;</span>9780124058767<br /> <a href="http://www.sciencedirect.com/science/article/pii/B9780124058767000055" target="[object Object]">http://www.sciencedirect.com/science/article/pii/B9780124058767000055</a></td>
</tr>
<tr>
<td width="30" valign="top" align="right">6.</td>
<td align="left"><a href="http://service.sipx.com/service/php/instructor_inspect_document.php?id=perma-x-04b79bf8-c852-11e5-9618-22000b61898b" style="text-decoration: none; color: #666699; font-weight: bold;">Chapter 6: MATLAB Programs</a><span class="bibliographic-separator">, </span>Matlab: A Practical Introduction to Programming and Problem Solving<br /> Attaway, Stormy<span class="bibliographic-separator">, </span>Pub. ELSEVIER<span class="bibliographic-separator">, </span>195-233<span class="bibliographic-separator">, </span>2013<span class="bibliographic-separator">, </span><span size="-1">ISBN:&nbsp;</span>9780124058767<br /> <a href="http://www.sciencedirect.com/science/article/pii/B9780124058767000067" target="[object Object]">http://www.sciencedirect.com/science/article/pii/B9780124058767000067</a></td>
</tr>
<tr>
<td width="30" valign="top" align="right">7.</td>
<td align="left"><a href="http://service.sipx.com/service/php/instructor_inspect_document.php?id=perma-x-1f23a73b-c851-11e5-9618-22000b61898b" style="text-decoration: none; color: #666699; font-weight: bold;">Chapter 11: Advanced Plotting Techniques</a><span class="bibliographic-separator">, </span>Matlab: A Practical Introduction to Programming and Problem Solving<br /> Attaway, Stormy<span class="bibliographic-separator">, </span>Pub. ELSEVIER<span class="bibliographic-separator">, </span>347-386<span class="bibliographic-separator">, </span>2013<span class="bibliographic-separator">, </span><span size="-1">ISBN:&nbsp;</span>9780124058767<br /> <a href="http://www.sciencedirect.com/science/article/pii/B9780124058767000110" target="[object Object]">http://www.sciencedirect.com/science/article/pii/B9780124058767000110</a></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<p></p>