/* Copyright 2013-2018, Calerga Sarl. */
table.tables{border-collapse:collapse;table-layout:fixed}table.tables
th{padding:3pt;font-family:sans-serif;font-size:9pt;border:solid
1px
silver;background-color:#eee;min-width:30px;width:30px}table.tables
th.frozen{background-color:#ddd}table.tables
th.current{background-color:#bef}table.tables
th>div.resize{float:right;width:6pt;height:1em;margin-right:-6pt;cursor:col-resize}table.tables
td{border:solid
1px
silver;padding:3px;font-family:sans-serif;font-size:11pt;width:20px;overflow:hidden}table.tables
td.current{background-color:#adf}table.tables
td.selected{background-color:#cef}table.tables
td.selected2{background-color:#ff7}table.tables
td.error{background-color:#fcc}table.tables
td>div{max-height:1.1em;overflow:hidden}input#currentCell{font-family:sans-serif;font-size:10pt;display:inline-block;width:4em;border:none;border-bottom:1px
solid
black;border-radius:0}input#currentCell:focus{outline:none}input#inputFld{font-family:sans-serif;font-size:10pt;display:inline-block;width:20em;border:none;border-bottom:2px
solid
green;border-radius:0}input#inputFld:focus{outline:none}span#btnOK{display:inline-block;width:11px;height:11px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAGlJREFUGBljYKAm+P///xcQBpnJgs9gkKKYXTZgJSA2Ey7FyAphahhBDJg1jIyMPDA+zEQQf4nbEQaQHAuyCTBN2BSCNKG4GVkRsokgNgjAnUFIIVwxiIHsHJgbQeI4AUgDzN04FRErAQB+GkafKZtABgAAAABJRU5ErkJggg==);background-repeat:no-repeat}span#btnCancel{display:inline-block;width:11px;height:11px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAHJJREFUGBl1kNERgDAIQ8EZdAXdf5zO4BCV9BpEofmhhBd6rchUN/Eca/Jh9HMf5Q9GX0HIdbxMu0VNpQ+qGlQLlCtTgIN5E1qH0aRAAD9wAjGFQmBDn0ADXPb4MTejfvXiN8YCJON/cuvK96sIsiLA8wMAC3TlxE8iHAAAAABJRU5ErkJggg==);background-repeat:no-repeat}span#btnFun{display:inline-block;width:11px;height:11px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAHVJREFUGBl1kMENgDAMAwnqD9ZjC8ZhC9aDd1AqrjJR6Md2m7hObJLj7hfSzFY42CBRaNuxfHRqmOMxF9KQcTjz4Od+B69izNlVo2AA9hgIRYYNhLf4Tt0jBu56H0al88j9bgddFmsc5WXxiMFmZP+9WQf54w+0P1gvnri9VgAAAABJRU5ErkJggg==);background-repeat:no-repeat}span.dis#btnOK,span.dis#btnCancel{background:none}span.sum#btnCancel{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAGxJREFUGBlj/P///xcGIgAjIyMPC0gdY+gUbnzq/6/O+QqSZwLpgHHwaQDJMcIUgJwDswGbZpChMLVgGuz+kMn/GYCYKL8QrYGQQpLcDFYMMhHmORRPQDkgD4M8yERIIbJmRrA7kUVwsEEmAwDlTk8Y7aTX8AAAAABJRU5ErkJggg==)}div#funDiv{width:42ex;margin-left:-20ex;padding-left:0px;padding-right:0px}div#funDiv
select{margin-left:1em;margin-bottom:2pt;font-size:80%}div#funContent{overflow-y:scroll}div#funContent
ul{margin:0px;padding:0px}div#funContent
ul
li{margin-left:1em;list-style-type:none}div#funContent
ul
li
span.f{font-family:monospace;font-size:90%}
nav.menu{display:none;position:fixed;z-index:2000;padding:5px
0;background-color:white;border:solid
1px
#eee;box-shadow:2px
2px
3px
#ddd;font-family:optima,helvetica,sans-serif;font-size:12pt}nav.menubar{position:initial;border:none;border-bottom:solid
1px
#eee;background:none;box-shadow:none;pointer-events:none}nav.menubar
*{pointer-events:auto}nav.menu
ul{margin:0;padding:0}nav.menu
li{list-style:none;white-space:nowrap;margin:0;padding:0.1em
1.5em;color:navy;background-color:white;user-select:none}html[data-useragent*='Firefox']
nav.menu
li{white-space:normal}nav.menu
li
span.shortcut{float:right;padding-left:1em}nav.menubar
li{padding:1px
0.5em}nav.menubar
li{display:inline}nav.menu
li:hover{color:white;background-color:navy}nav.menu
li.dis,nav.menu
li.dis:hover{color:silver;background:white}nav.menu
li.check{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAiklEQVRIie2UUQrAIAxDk51cT559bAUR1FYRxjDQv9rUZyslYaeurdWPwT8MSIpkcxSXDEimYc7KHljnktjKmb5BgSV3EyWFA0ACoOd4P3cKkQeNqYmoNR1uNKYOBr2RZtC4ENUoImhMoynKVjiMxpocPXL9DpHuAccelAWjxYHFTfbo+7/pMVjWDaWGsq1zKyPEAAAAAElFTkSuQmCC)
no-repeat}nav.menu
li.check:hover{color:white;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAiklEQVRIie2UwQ6AIAxDW+OH45fPAw6NCVBEDhqaLOFQNvYY0MwwUsvQ7LPAbwrYEe8XIBmqns534JuZM/R0YABAciu7zJoDQLBTRe9TRFU0rhKi3HRoaJI7317sP+JoRqMiuqOQ0biKU3TBkHDJaDyHcMl3g3x6QHsHzKwlraKvObHrE7/pLNCnHWetrJzqR5m0AAAAAElFTkSuQmCC)
no-repeat
navy}nav.menu
li.mixed{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAO0lEQVRIiWP8//8/Ay0BE01NH7Vg1IJRC+hjAQsuCUZGRpLLkP///zOii9HcB4yjhd2oBaMWjFpAGAAAMCcKK7NcpiAAAAAASUVORK5CYII=)
no-repeat}nav.menu
li.mixed:hover{color:white;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAOElEQVRIiWP8//8/Ay0BE01NH7Vg1IJRC+hjAQsBeVLLEUZ0gQH3AYaLSAVDP5JHLRi1YNQCBgYA7wEEMlekuNUAAAAASUVORK5CYII=)
no-repeat
navy}nav.menu
li.smenu{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAZUlEQVRIie3VwQ6AIAwD0M4v58/Lxau6Vhs8sIQb60uAhSKJZB3R9A18AlTVeCWQvF0ACGA87bvsbwI2ogAWogIy4gAS4gJtJD4Hvzyi6CVHn6kcrgBWeBeww0mizpBYrf8PNjAB9w79vto1TTEAAAAASUVORK5CYII=)
no-repeat
right}nav.menu
li.smenu:hover{color:white;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAYUlEQVRIie3VQQrAIAxE0UxP7s1/N910lwwdEGogO5kHalRAJeuKph/gM0DSsgWg01TVaq59dRtwkRHgIGNgiljABLGBLhKfgz23KHrI0WsaHbToU+GGA6UnIFZ7/Af/Bm4LHmlhmZ382AAAAABJRU5ErkJggg==)
no-repeat
right
navy}nav.menu
li.smenu-sel{color:white;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAYUlEQVRIie3VQQrAIAxE0UxP7s1/N910lwwdEGogO5kHalRAJeuKph/gM0DSsgWg01TVaq59dRtwkRHgIGNgiljABLGBLhKfgz23KHrI0WsaHbToU+GGA6UnIFZ7/Af/Bm4LHmlhmZ382AAAAABJRU5ErkJggg==)
no-repeat
right
navy}nav.menubar
li.smenu{background:none}nav.menubar
li.smenu:hover{color:white;background:navy}nav.menubar
li.smenu-sel{color:white;background:navy}nav.menu
li.separator{color:white;height:0.5em}nav.menu
li.separator:hover{background-color:white}
@media
screen
and
(max-width:640px){body{-webkit-text-size-adjust:100%}}@media
screen
and
(max-width:640px){div#figpreview,h1#title,address{display:none}}@media
screen
and
(max-width:50ex){nav.menubar
li{display:block}}div.inputwrapper{width:100%;margin:4px}input.cmd,p.cmd{width:100%;font-family:monaco,courier,fixed;box-sizing:border-box}input.cmd{border:none;border-bottom:2px
solid
#6d4}input.cmd:focus{outline:none}input.demo{border-bottom:4px
solid
#4af}p.cmd{display:none;background:#cceeff;cursor:pointer}div,input{font-size:12pt}div#r{background:#f7f7f7;padding:3px;margin-top:auto;min-height:4em}div#filler{height:1ex}div#ctrl{position:absolute;right:6px;margin:6px;font-family:optima,helvetica,sans-serif;font-weight:bold}div.cell{margin-top:1ex;margin-bottom:2ex}div.cell
canvas{margin-top:1em}div.cmd{font-family:courier,fixed;font-weight:bold;white-space:pre-wrap}div.stdout{font-family:courier,fixed;white-space:pre;tab-size:4;-moz-tab-size:4;-o-tab-size:4}div.stderr{color:red;font-family:courier,fixed;white-space:pre;tab-size:4;-moz-tab-size:4;-o-tab-size:4}div.text{color:navy;font-family:courier,fixed}div.welcome{color:grey}address{font-family:serif;font-style:normal}a:link{text-decoration:underline;color:black}a:visited{color:black}a:hover{background:#cccccc}a.ctrl{padding:2px;text-decoration:none}a.ctrl:hover{padding:2px;background:#ddd;text-decoration:none}a.dis{color:red}span.eq{color:#222}div.doc
h1,h2,h3,h4,h5,p,dl,dt,ul,table,td,th,address{font-family:verdana,arial,helvetica,sans-serif}td
samp{font-family:courier,fixed;font-size:12pt}div.doc>h2{color:red;margin-top:1em}div.doc
a,td
a,p
a{cursor:pointer;text-decoration:underline}div.divbg{position:fixed;left:0px;right:0px;top:0px;bottom:0px;background-color:rgba(200,200,200,0.8);z-index:1000;display:none}div#fig,div#ed,div#im,div#app,div#tablevwr,div#doc,div#about,div#dlgokcancel,div#new,div#export,div#import,div#filebrowser,div#blib,div#blparam,div#bl{position:fixed;top:50%;left:50%;width:600px;margin-left:-300px;margin-top:-200px;background-color:white}div#fig,div#ed,div#im,div#app,div#tablevwr,div#doc,div#filebrowser,div#bl{height:400px}div#im{background-color:#eee}div#im
img{max-height:90%;max-width:95%;display:block;margin:auto}div#about,div#dlgokcancel,div#new,div#export,div#import{padding:1ex}div#fig>canvas{margin:auto}div#bl>canvas{margin:auto}div.dlgbuttons{margin-top:1.5em}div.close{position:absolute;top:-8px;right:-8px;width:24px;height:24px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9oHFxMBDuBcJ7AAAAAidEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVAgb24gYSBNYWOHqHdDAAAAgklEQVRIx+1VQQ7AIAijzf7/5e66LENEMF7GyWgpIm2EJNsZtM1xrgAAAQjfL8LRS/par+A4SurYYwSodGVmdmUGNjOTYQeSUFXNm4MRoELuqmiliJfDbEIWe9bJHepilxxLTq4UYRe5x8GsFLMSnnby82wWN+3kyh67buvh8H/6UdxcymExI+RGHgAAAABJRU5ErkJggg==);background-repeat:no-repeat;background-position:right;margin-left:5px;padding:2px
4px;cursor:pointer}div.discard{position:absolute;top:2px;right:2px;width:24px;height:24px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAvklEQVRIicWUSw6DQAxDPahHYMH9T8eCO6QLvh0Sx6mKaomdx4/5OM3M8KSGR9MJwLZPVej3AIZpBKZxX5iHE38PsM24Koek/iE05xDJr13yHeKHO7oCGuZFgfDwNaMdoU4P5L/LwgH/iPhOCuERoA4JwhlAh5DwDPATMYB22UkZ41lUeUkEEs+iqr6aRb3mBWIZXYDaULXxN4ASvkvuST6L4ncu+fsdfC5KSqT4vWEHnGfIwiX/K/yzmv43Kt71vljPe8tU3QAAAABJRU5ErkJggg==);background-repeat:no-repeat;background-position:right;margin-left:5px;padding:2px
4px;cursor:pointer}div.save{position:absolute;top:2px;right:50px;width:24px;height:24px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAsElEQVRIidXVMQ6AIAyF4aczV3LyHh7Oezh5JXZcaASh2lIYbOKm/xeSqlMIASNnHlr/I+DjNQTw27FgOxaCugI+hgEgQ6YOW5TF09nX03wCNk5jAV7j+3oCgHsCxRZY4kB+guoWWOIpwG6BJU5A9aEKoo4TwE6CNMWB+z34XLeWOHCfwMUbu8ZTQI1I4k9AjEjjNeAT0cQ5gEW08TegQFrigOxzTS+bOi4FTDP8p38BtGdj4b1U38YAAAAASUVORK5CYII=);background-repeat:no-repeat;background-position:right;margin-left:5px;padding:2px
4px;cursor:pointer}div#ed
h1,div#im
h1,div#app
h1,div#tablevwr
h1{font-size:12pt;font-weight:normal;margin:1ex}div#ed
textarea{font-family:courier,fixed;font-size:12pt;white-space:pre;tab-size:4;padding:1ex}div#ed
pre{background:#eee;color:#999}div#about
h1,div#dlgokcancel
h1,div#doc
h1,div#new
h1,div#export
h1,div#import
h1,div#filebrowser>h1,div#blparam>h1,div#bl>h1{font-size:14pt;margin:1ex}div#doc
nav{position:absolute;top:2px;right:5ex;font-family:optima,helvetica,sans-serif}div#filebrowser>p,div#blib>p,div#bl>p{height:1em;margin-left:1ex}div#filebrowser>p
span,div#bl>p
span,div#blib>p
span{text-decoration:underline;cursor:pointer}div#filebrowser>p
span.def,div#bl>p
span.def,div#blib>p
span.def{font-weight:bold}div#about
p,div#dlgokcancel
p,div#new
p,div#export
p,div#import
p{margin:1ex}input#newName{box-sizing:border-box;border:none;border-bottom:2px
solid
#ddd;outline:none;width:100%}div#figpreview{position:absolute;height:60px;top:6px;right:6px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;cursor:pointer;background-color:#f4f4f4}div#docc{position:absolute;bottom:0;top:50px;left:0;right:0;overflow-y:scroll}div#docc
div{margin:1ex}div#filebrdiv{position:absolute;bottom:0;top:60pt;left:0;right:0;overflow-y:scroll;padding:1ex}.iconFolder{width:36px;height:25px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAJdJREFUSA3tU9EKwCAIzLF/7Bv7ylYNnZmB0NYg6qW87s460Lm9/k4AlAdEBcuQxu1QH1iKeuaokHzEuzsXkHkIoRJ476vaUJDvIcnSPN9rmNSJmh5LnRKhgDHSndDYSgCyLIfmBzYbO2vRBjlHlqU9D4W5aET40zei+jyiE1/L99Fh4140dgkcG2Huep/nTHLbdyOzE7gAUmgTHABi5VwAAAAASUVORK5CYII=);background-repeat:no-repeat;background-position:center}.iconFolderBI{width:36px;height:25px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAIFJREFUSA3tU0EKwCAM033SN/pKp4LZTCsrDNxh9aKNSaqBhuDr6wSi8oCiYA3SuAvqBbNoZT4UzB/4cr8LYJ5zngQppak2FPA9mMzm7V7DWEc1HotOldDBUnBHGlsZIyz7QfzAZmNneYPHrDyiH0SEsat/fTfCMqw9kyz7OrI7gRNy5xARKdV/OAAAAABJRU5ErkJggg==);background-repeat:no-repeat;background-position:center}.iconFolderEmpty{width:36px;height:25px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAI1JREFUSA3tVNEOgCAItNZ/6afrl5m4qcggzbn1EG4tOI7z4EFj9Hy9gYMxEBkMII4rUBtMm7K4974xUuScKznlF3zqD+IxiUd6AIPai69eiB2BuLHW1iIOQgg4FeOnaVn3dJpRjqbNJk7RyqaCXjBcpK7oByu66IyzTwLtk/LuLZJIizjWXpTQth0buAHOrnr7v0yURwAAAABJRU5ErkJggg==);background-repeat:no-repeat;background-position:center}.iconFolderUp{width:36px;height:25px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAlElEQVRIie1VQQ6AIAyzhj/yRl45T5i5MUAHGhJ7MZldC6uLIKLNAwBERLDe715x/hxqIEUtk0cGllipDpmB1ZznXBuH5CqDVrMMk/OtoEOJnFK6kGKMJUHlD0CZqQykuFWrgR/kHFEu3tmLfGLeJ2/h2oMe/AbfG4Q2xUbPF7f+iN7PgG/nCEy/gfofjMb6IU83OABPw0co+c8kSQAAAABJRU5ErkJggg==);background-repeat:no-repeat;background-position:center}.iconFile{width:36px;height:25px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAJxJREFUSA3tlA0KgCAMhTW6/z085WIS4vBtukxIaBDomu/bTxbC7hZBAQR8mgudF7GH2Pk33WRUABEF7Ukp1amYEBVQK6D1KOQxgKEjkCnACGQaACDsKoY+szw0HrDHYixSZcHnX6nASuQHWN3J78wW8eCq4XXFUIAJQAe8vm8AZlq1vILT6qn3NiMtca3vAN8/olUVmstb1PJ381xNTCz+RhncrQAAAABJRU5ErkJggg==);background-repeat:no-repeat;background-position:center}.iconFileBI{width:36px;height:25px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAIZJREFUSA3tlGsKwCAIgHP3v0indBhDknzU2n4ECoGZ+ak9SjldQCkAFZtl0vYL30vM1idhMiYAEYs1aq19Ki7EBPQRNH0W8hpA0BnIFmAGsg1QIGRi0a5ZOzQ64BUB4FCs0P5PKvASSYDXnbaWLcoWhR0IHcSzfrzX/ogRIWL+fk1H/mmWG9SHKfPGgj5yAAAAAElFTkSuQmCC);background-repeat:no-repeat;background-position:center}.iconBlock{width:36px;height:25px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAWUlEQVRIie2VQQqAMAwEHfH/Xx5P9hBFSiUKNXPMIdstU4q6ZLKmbq+AfwRsV0NgyF2VOPumwUHvI4TTwRvvNBi980jcozKJplGveTS906+X9AbUj1YBj9kBJaEZNqHX2y0AAAAASUVORK5CYII=);background-repeat:no-repeat;background-position:center}div#filebrdiv
table,div#blibdiv
table,div#blparam
table{width:100%}div#filebrdiv
table
tr:nth-of-type(even){background-color:#eee}div#filebrdiv
table
tr{cursor:pointer}div#filebrdiv
table
tr
td:nth-of-type(3){width:10ex}div#filebrdiv
table
tr.selected,div#blibdiv
table
tr.selected{background-color:#acf}div#csvdiv{position:absolute;bottom:0;top:50px;left:0;right:0;overflow-x:scroll;overflow-y:scroll}div#csvdiv
table{width:100%;height:100%}div#csvdiv
table
tr:nth-of-type(even){background-color:#eee}div#csvdiv
table
tr.selected{background-color:#def}div#csvdiv
table
tr
td.selected{background-color:#9be}pre.syntax{background-color:#fee;margin:1em
0em;padding:1em
1em;border-top:solid
2px;border-bottom:solid
2px}pre.listing{background-color:#eee;margin:1em
0em;padding:1em
1em;border-top:solid
1px;border-bottom:solid
1px;tab-size:4;-moz-tab-size:4;-o-tab-size:4}div#header{position:fixed;top:0px;right:0px;width:100%;padding-right:10px;background-color:rgba(255,255,255,0.8);background:linear-gradient(to
right,rgba(255,255,255,0.1),rgba(255,255,255,1.0));border-bottom:solid
1px
rgba(0,0,0,0.03);z-index:500;pointer-events:none}div#header>h1{text-align:right}div#header
a,div#figpreview{pointer-events:auto}div#toolbar{margin-left:auto;margin-right:0px;overflow:auto}nav#menubar{background-color:white}span.button{margin-left:1em;margin-bottom:3px;padding-top:3px;padding-bottom:3px;padding-left:1em;padding-right:1em;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#ddd;cursor:pointer;float:right}span.button:hover{background-color:#ccc}span.dis{color:#aaa}div#toolbar
span.dis#stopBtn{display:none}div#toolbar
span.dis#skipBtn{display:none}
h1{font-family:optima,helvetica,sans-serif;font-size:14pt;margin-bottom:0pt;}
